@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  overflow-x: hidden;
  position: relative;
  background: #F0F9FF;
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100%;
  scroll-behavior: smooth;
}

button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

li,
button,
i {
  transition: all 0.3s ease-in;
}

img {
  width: 100%;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 12px;
  font-weight: 500;
  padding: 0px 16px;
  text-align: center;
}

.btn {
  width: 160px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFBF00;
  color: #EFF6FF;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background: #FACC15;
}

li:hover {
  opacity: 90%;
}

i:hover {
  color: #FACC15;
}

.container {
  width: 100%;
  position: relative;
}

.container_menu {
  top: 0;
  width: 100vw;
  position: absolute;
  padding: 16px 0px;
  z-index: 1000;
}
.container_menu nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_menu nav .logo {
  width: 50px;
}
.container_menu nav ul {
  display: none;
  gap: 16px;
}
.container_menu nav ul li a {
  color: #F0F9FF;
  font-size: 1rem;
}
.container_menu nav .menu_desplegable button {
  color: #F0F9FF;
  font-size: 22px;
}

.container_contenido {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 30px;
}

.home {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.home h3 {
  padding: 0px 16px;
  color: #F0F9FF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.home img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  filter: brightness(50%);
  z-index: -1;
}
.home .transicion {
  width: 120vw;
  height: 40px;
  background: #F0F9FF;
  position: absolute;
  bottom: -20px;
  filter: blur(5px);
}

.sobre_nosotros {
  display: flex;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px;
}
.servicios .imagenes_referencia {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 8px;
}
.servicios .imagenes_referencia .container_img {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
}
.servicios .imagenes_referencia .container_img img {
  filter: brightness(60%);
  width: 100%;
}
.servicios .imagenes_referencia .container_img p {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #F0F9FF;
}
.servicios .contenido_servicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

footer {
  width: 100%;
  height: auto;
  color: #EFF6FF;
  margin-top: 50px;
  background: #0A0A0A;
}
footer .encuentranos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 16px 0px;
  gap: 8px;
}
footer .encuentranos img {
  width: 60px;
}
footer .encuentranos .iconos_redes_sociales {
  font-size: 16px;
  display: flex;
  gap: 8px;
  color: #FFBF00;
}
footer .encuentranos h3 {
  padding: 0px 10px;
}
footer .creditos {
  text-align: center;
  width: 100%;
  padding: 8px 0px;
  background: rgba(17, 24, 39, 0.4);
}

.formulario {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
form .campo {
  width: 100%;
}
form .campo input,
form select,
form textarea {
  width: 100%;
  padding: 8px 3px;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid #0A0A0A;
  border-left: 2px solid #0A0A0A;
  border-right: 1px solid #0A0A0A;
  border-bottom: 2px solid #0A0A0A;
  border-radius: 5px;
  margin: 8px 0px;
  font-size: 16px;
  outline-color: #111827;
}
form .campo textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
}
form .enviar {
  width: 100%;
  display: flex;
  justify-content: center;
}
form .enviar .btn {
  width: 200px;
}

.formulario label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #0A0A0A;
}

.sobre_nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.sobre_nosotros .user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
}
.sobre_nosotros .user .img {
  width: 150px;
  height: 200px;
  background: #EFF6FF;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.sobre_nosotros .user .img img {
  width: 100%;
}
.sobre_nosotros .user p {
  text-align: left;
}

@media (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
  p {
    width: 65%;
  }
  .btn {
    width: 160px;
    height: 35px;
  }
  .container_menu nav .logo {
    width: 60px;
  }
  .container_menu nav ul {
    display: flex;
  }
  .container_menu nav .menu_desplegable {
    display: none;
  }
  .home h3 {
    font-size: 30px;
  }
  .servicios .imagenes_referencia {
    justify-content: center;
    flex-direction: row;
  }
  .servicios .imagenes_referencia .container_img {
    width: 350px;
    height: 100px;
  }
  footer h3 {
    font-size: 16px;
  }
  footer .encuentranos {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  footer .encuentranos img {
    width: 80px;
  }
  footer .encuentranos .iconos_redes_sociales {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #FFBF00;
  }
  footer .encuentranos h3 {
    width: 50%;
    padding: 0;
  }
  .sobre_nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .sobre_nosotros .user {
    flex-direction: row;
  }
  .sobre_nosotros .user p {
    text-align: left;
  }
  .user:nth-child(3) .img {
    order: 2;
  }
}
@media (min-width: 1024px) {
  p {
    width: 30%;
  }
  .container_menu nav .logo {
    width: 65px;
  }
  .home {
    height: 70vh;
  }
  .home h3 {
    font-size: 30px;
  }
  .container_contenido {
    align-items: center;
  }
  .servicios {
    width: 100%;
    flex-direction: row;
  }
  .servicios .imagenes_referencia {
    width: 50%;
  }
  .servicios .imagenes_referencia .container_img {
    width: 150px;
    height: 300px;
  }
  .servicios .imagenes_referencia .container_img img {
    width: 100%;
    height: 100%;
  }
  .servicios .contenido_servicio {
    width: 500px;
    text-align: left;
  }
  .servicios .contenido_servicio p {
    width: 60%;
  }
  form {
    width: 50%;
  }
}
@media (min-width: 1443px) {
  .servicios {
    width: 80%;
    flex-direction: row;
  }
  .servicios .imagenes_referencia .container_img {
    width: 200px;
    height: 400px;
  }
  .servicios .imagenes_referencia .container_img img {
    width: 100%;
    height: 100%;
  }
  .servicios .contenido_servicio {
    width: 500px;
  }
  .servicios .contenido_servicio p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
